{% extends 'base.html' %}

{% block content %}

<form action="{% url 'accounts:sign-in' %}" method="post"
      style='max-width: 400px;'
      class="mx-auto my-3 border p-2 rounded"
      autocomplete="off"
>
    {% csrf_token %}
    <h1 class="text-center">Sing In</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username" class="form-control">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-control">

    <input type="submit" value="Login" class="btn btn-primary m-2">

    <div class="form-text">
        You don't have an account? <a href="{% url 'accounts:sign-up' %}">Sign up.</a>
    </div>
</form>

{% endblock content %}